@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300;1,400&display=swap'); 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{ 
    display: flex;
    background: #0c1822;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;   
}

.container {
   position: absolute;
   width: 350px;
   height: 500px;
   background: rgba(0, 0, 0.75);
   border-radius: 20px;
   display: flex;
   align-items: center;
   padding-inline: 32px;
   overflow: hidden;
}

.container .form{ 
    text-align: center;
    text-decoration: none;
    color:white;
    font-size: 30px;
    font-family: "poppins";
    padding-bottom: 460px;
    padding-left: 65px;
}

.container .form .inputbox{ 
    padding-top: 330px;
    padding-right:40px ;
    width: 20px;
}
.container .form .inputbox:hover{
    color: #bbb2;
    transition: 1s ease;
}

.container .form .inputbox label{
    font-size: 20px;
    font-family: "poppins";
}
.container .form .inputbox label:hover{
    color: red;
}
button{
    padding-right: 70px;
    padding-left: 70px;
    margin-top: 1px;
    border-radius: 80px;
    color: #000;
    font-size: 13px;
    font-family: "poppins";
    background-color: #fafafa;
    transform: 1s;
    cursor: pointer;
}
button:hover{
color: #aaeeff;
    transition: .9s ease;
    background-color: #000;
}

